<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock title %} | Cybbit</title>
</head>
<style>
    
</style>
<body>
    <div class="homebox">
        <div class="titlebox">Cybbit</div>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/posts/">Posts</a></li>
            {% if user.is_authenticated %}
                
            {% endif %}
        </ul>
        {% block body %}{% endblock body %}
    </div>
</body>
</html>